<div class="booking-history">
  <div class="opaque-bg full-height">
    <div class="container">
      <div class="col-sm-12 mt-70">

        <table>
            <thead>
            <tr>
              <td class="center font-white">
                <strong>Check-in</strong>
              </td>
              <td class="center font-white">
                <strong>Checkout</strong>
              </td>
              <td class="center font-white">
                <strong>Room Type</strong>
              </td>
              <td class="center font-white">
                  <strong>Number of Persons</strong>
              </td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let booking of this.bookingData; let i = index">
              <td class="center font-white">{{booking.checkIn}}</td>
              <td class="center font-white">{{booking.checkOut}}</td>
              <td class="center font-white">{{booking.room.type}}</td>
              <td class="center font-white">{{booking.numberOfPersons}}</td>
            </tr>
            </tbody>
          </table>
          
      </div>
  </div>
</div>
</div>
