/* You can add global styles to this file, and also import other style files */

@import "assets/css/main.css";
@import "assets/bootstrap-3.3.7-dist/css/bootstrap.css";
@import "assets/bootstrap-3.3.7-dist/css/carousel.css";
@import "assets/bootstrap-3.3.7-dist/css/bootstrap-datetimepicker.css";


#datetime6 {
  width: 100%;
  input {
    border-radius: 4px;
  }
}

#datetime7 {
  width: 100%;
  input {
    border-radius: 4px;
  }
}

.opaque-bg.full-height {
  height: 100vh;
}

.font-white.center {
  width: 100%;
  margin-top: 0;
}