<!DOCTYPE HTML>
<html>
<head>
    <title>Dream Hotel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/carousel.css"/>
    <link href="/bootstrap-3.3.7-dist/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
     <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">

            <!-- Logo -->
            <!--<h1><a href="index.html" id="logo">Arcana <em>by HTML5 UP</em></a></h1>-->
            <!-- Nav -->
            <nav id="nav">
                <ul class="container">
                    <li class="brand font-white">Dream Hotel</li>
                    <li class="current"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="dropdown">
                        @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login/SignUp</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","User")">Login</a></li>
                            <li><a href="#">My Orders</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Signout</a></li>
                        </ul>*@
                    </li>
                </ul>
            </nav>
        </div>

        @RenderBody()

        <!-- Footer -->
        <div id="footer">

            @if (IsSectionDefined("InquiryForm"))
            {
                @RenderSection("InquiryForm", false)
            }

            <!-- Icons -->
            <ul class="icons mt-50">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
            </ul>

            <!-- Copyright -->
            <div class="copyright">
                <ul class="menu">
                    <li>&copy; Dream Hotel. All rights reserved</li>
                </ul>
            </div>

        </div>

    </div>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.dropotron.min.js"></script>
    <script src="/assets/js/moment.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/js/main.js"></script>

</body>
</html>