<div id="footer">

  <ng-template *ngIf="true">
    <app-inquiry-form></app-inquiry-form>
  </ng-template>

  <!-- Icons -->
  <ul class="icons mt-50">
    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon fa-linkedIn"><span class="label">LinkedIn</span></a></li>
    <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
  </ul>

  <!-- Copyright -->
  <div class="copyright">
    <ul class="menu">
      <li>&copy; Dream Hotel. All rights reserved</li>
    </ul>
  </div>

</div>
