<div class="banner">
  <div class="opaque-bg">
    <div class="container">
      <div class="row">
        <fieldset class="mt-70 mb-50">

          <form>

            <div class="input-validation-error"></div>

            <div class='col-md-4 col-sm-6 col-md-offset-1'>
              <div class="form-group">
                <label class="font-white">Check-In Date</label>
                <div class='input-group date' id='datetimepicker6'>
                  <input type='text' class="form-control"/>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class='col-md-4 col-sm-6 col-md-offset-1'>
              <div class="form-group">
                <label class="font-white">Check-Out Date</label>
                <div class='input-group date' id='datetimepicker7'>
                  <input type="text" class="form-control"/>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>


            <div class="col-md-4 col-sm-6 col-md-offset-1">
              <label asp-for="Room" class="font-white">Room Type</label>
              <div class="form-group">
                <select class="form-control">
                </select>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-md-offset-1">
              <label class="font-white">NumberOfPersons</label>
              <div class="form-group">
                <select class="form-control">
                  <option disabled selected>--- SELECT ---</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12 col-md-offset-1">
              <p class="mt-20">
                <button class="btn btn-info" type="submit">Book Now</button>
              </p>
            </div>

          </form>
        </fieldset>
      </div>
    </div>
  </div>
</div>
