@model DreamHotelWebMVC.Models.BookingReservation
@inject DreamHotelWebMVC.Models.Services.FormattingService FormattingService

<div class="banner">
    <div class="opaque-bg">
        <div class="container">
            <div class="row">
                <fieldset class="mt-70 mb-50">

                    <form asp-action="Booking" asp-controller="Home">

                        <div asp-validation-summary="All" class="input-validation-error"></div>

                        <div class='col-md-4 col-sm-6 col-md-offset-1'>
                            <div class="form-group">
                                <label asp-for="CheckIn" class="font-white"></label>
                                <div class='input-group date' id='datetimepicker6'>
                                    <input type='text' class="form-control" asp-for="CheckIn" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-4 col-sm-6 col-md-offset-1'>
                            <div class="form-group">
                                <label asp-for="CheckOut" class="font-white"></label>
                                <div class='input-group date' id='datetimepicker7'>
                                    <input asp-for="CheckOut" type="text" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    <span asp-validation-for="CheckOut"></span>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-6 col-md-offset-1">
                            <label asp-for="Room" class="font-white"></label>
                            <div class="form-group">
                                <select class="form-control" asp-for="Room" asp-items="@ViewBag.newList">
                                </select>
                            </div>
                            <span asp-validation-for="Room"></span>
                        </div>

                        <div class="col-md-4 col-sm-6 col-md-offset-1">
                            <label asp-for="NumberOfPersons" class="font-white"></label>
                            <div class="form-group">
                                <select class="form-control" asp-for="NumberOfPersons">
                                    <option disabled selected>--- SELECT ---</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <span asp-validation-for="NumberOfPersons"></span>
                        </div>

                        <div class="col-sm-12 col-md-offset-1">
                            <p class="mt-20">
                                <button class="btn btn-info" type="submit">Book Now</button>
                            </p>
                        </div>

                    </form>

                </fieldset>
            </div>
        </div>
    </div>
</div>
