@model DreamHotelWebMVC.Models.Person

<div class="col-sm-6">
    <div class="form-group">
        <label asp-for="FirstName" class="font-white"></label>
        <input asp-for="FirstName" type="text" class="form-group" />
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <label asp-for="LastName" class="font-white"></label>
        <input asp-for="LastName" type="text" class="form-group" />
    </div>
</div>